package com.zachary_moore.ktql

import com.zachary_moore.ktql.engine.KTQL
import com.zachary_moore.ktql.engine.KTQLOperation
import com.zachary_moore.ktql.engine.TerminalKTQLType
import com.zachary_moore.ktql.engine.ObjectKTQLType
import com.zachary_moore.ktql.engine.Field
import com.zachary_moore.ktql.engine.SimpleField
import com.zachary_moore.ktql.engine.ComplexField

class KTQLImpl : KTQL {
    private val selections = hashSetOf<Field<*, *>>()
    override val selected: Set<Field<*, *>>
            get() = selections.toSet()
    #foreach ( $query in $schema.queries)

    fun ${query.name}Query(
      #foreach ($input in $query.inputs)
      ${input.variableName}: ${apolloPrefix}.integration.type.${input.typeName},
      #end
      init: ${query.resultantType.value.name}.() -> Unit
    ) {
        val obj = ${query.resultantType.value.name}()
        obj.init()
        val operation = ${query.name}Query(obj)
        selections.addAll(operation.selections)
    }
    #end
}

fun ktql(init: KTQLImpl.() -> Unit): KTQL {
    val ktql = KTQLImpl()
    ktql.init()
    return ktql
}

#foreach ( $query in $schema.queries)
class ${query.name}Query(
    obj: ${query.resultantType.value.name}
): KTQLOperation<${query.resultantType.value.name}>() {
    init {
        selections.addAll(obj.selected)
    }
}
#end

#foreach ($type in $schema.types)
  #if ($type.fields.size == 0)
class ${type.name} : TerminalKTQLType<${type.name}>
  #else
class ${type.name} : ObjectKTQLType<${type.name}> {
    private val selections: HashSet<Field<${type.name}, *>> = hashSetOf()
    override val selected: Set<Field<${type.name}, *>>
        get() = selections.toSet()
    #foreach ($field in $type.fields)
        #if ($field.Primitive)
    fun ${field.fieldName}() {
        selections.add(SimpleField("$field.fieldName"))
    }
        #else
    fun ${field.fieldName}(init: ${field.fieldType.value.name}.() -> Unit) {
        val obj = ${field.fieldType.value.name}()
        obj.init()
        selections.add(ComplexField("$field.fieldName", obj))
    }
        #end
    #end
    override fun all() {
    #foreach ($field in $type.fields)
        #if ( $field.Primitive)
        ${field.fieldName}()
        #else
        ${field.fieldName} {
            all()
        }
        #end
    #end
    }
}
  #end
#end